* {
    padding: 0;
    margin: 0;
}

.bodyPage {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
}

.dataPacienteHeader {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #014ba0;
    color: white;
    padding: 20px 40px 40px 40px;
}

.infoPrimaria {
    display: flex;
    align-items: center;
}


.nomeDoPaciente {
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 0;
}

.fotoDoPaciente {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    margin: 0;
}

.dataDeNascimento {
    margin: 3px 0;
}

.condicaoPaciente {
    margin: 3px 0;
}

.cpfDoPaciente {
    margin: 3px 0;
}

.formSintomas {
    background-color: white;
    text-align: center;
    margin: 0 auto 0 auto;
}

.tituloFormSintomas {
    width: 100%;
    margin: 20px 0 20px 0;
    color: rgb(65, 65, 65);
}

.tituloFormSintomasChecks {
    width: 100%;
    margin: 20px 0 13px 0;
    color: rgb(65, 65, 65);
}


.ContainerTituloPaginaAtendimento {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

.tituloPaginaAtendimento {
    padding: 0;
    margin: 0;
}

.formulariosPacientesGroups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.formSintomasCheck {
    margin: 0 auto 0 auto;
    background-color: white;
    text-align: center;
    color: rgb(65, 65, 65);
}

.checkboxInput {
    margin: 5px;
    font-size: 1em;
    display: inline-block;
}

.atendimentoPaciente {
    margin: 15px 0;
    width: 100%;
}

.atendimentoPacienteParagrafo {
    color: rgb(88, 88, 88);
}

.multiForm {
    width: 700px;
    text-align: right;
    background-color: #fff;
    padding: 20px;
    border-radius: 7px;
    margin: auto;
}

.deletePaciente {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .formSintomas {
        width: 100%;
        margin: 20px auto 20px auto;
    }
}

@media screen and (max-width: 790px) {
    .dataPacienteHeader {
        display: inline-block;
    }

    .fotoDoPaciente {
        margin: 0;
    }

    .multiForm {
        width: 100%;
        margin: auto;
    }

    .infoPrimaria {
        display: inline-block;
    }

    .nomeDoPaciente {
        margin: 5px 0 0 0;
    }
}