.bodyForm {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.500);
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    max-height: 100%;
    width: 400px;
    animation: slideIn 0.3s;
    background-color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.enviar {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: white;
}

.enviar {
  background-color: #005eca;
}.enviar:hover {
  background-color: #006ae4;
}


.tabelaResponsiva {
  text-align: left;
  margin: 10px 0 30px 0 !important;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #002142;
  color: white;
  font-weight: light;
  font-size: 0.8em;
  padding: 50px;
  margin-top: 60px;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.moreForMe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myLinks {
  margin: 0px 15px;
  font-style: none;
  font-size: 1.9em;
  color: white;
}.myLinks:hover {
  color: white;
}

.myName {
  padding: 0;
  font-size: 1.2em;
  margin: 10px 20px;
  text-align: center;
  display: inline-block;
}

#alertParagraph {
  color: red;
  font-size: 1.1em;
  font-weight: bolder;
  text-align: left;
}


@keyframes slideIn {
    from {
      top: -100px;
    }
    to {
      top: 50%;
    }
}

@media screen and (max-width: 400px) {
  .formulario {
    width: 95%;
    margin: auto;
  }

}